<form >
        <div class="modal-header">						
            <h2 class="modal-title">Client details</h2>
        </div>
        <div class="modal-body">					
            <div class="form-group">
                <label>nom</label>
                <input type="text" class="form-control" disabled id="nom"  name="nom" value="{{client.nom}}">
            </div>
            <div class="form-group">
                <label>prenom</label>
                <input type="text" class="form-control" disabled  id="prenom" value="{{client.prenom}}" name="prenom">
            </div>
            <div class="form-group">
                <label>date de naissance</label>
                <input type="date" class="form-control" disabled  id="dateNaiss" value="{{client.dateNaiss}}" name="dateNaiss">
            </div>			
        </div>
        
</form>
<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      mes commandes
    </a>
</p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      
            <table  class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>date commande</th>
                        <th>prix total</th>
                        <th>mode payement</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let commande of commandes">
                        <td>{{commande.id}}</td>
                        <td>{{commande.date_commande}}</td>
                        <td>{{commande.prix_total}}</td>
                        <td>{{commande.mode_payement}}</td>
                        <td>{{commande.status}}</td>
                        
                    </tr>
                </tbody>

            </table>
            <div id="hidden"></div>
                <mat-paginator  [length]="totalNumber"
                                [pageSize]="3"
                                [pageSizeOptions]="[3,5,10]" 
                                (page)="onPagechange($event)">
                </mat-paginator>

    </div>
  </div>