<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item"><a routerLink="clients" touterLinkActive="active" class="nav-link">clients list</a></li>
    <li class="nav-item"><a routerLink="create-client" touterLinkActive="active" class="nav-link">Add client</a></li>
    
  </ul>
</nav>
<h1 class="text-center">Restauration</h1>
<div class="container">
  <!-- * * * * * * * * * * <app-client-component></app-client-component>  * * * * * * * * * * * -->
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2022 @Laila Bouadif</span>
  </div>
</footer>